<p> User Profile </p>

<div class="card" style="width: 18rem;">
    <img src="..." class= "card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">{{user}}</h5>
        <p class="card-text">user info : {email} {age} {city}</p>
        <a href="/users/userList" class="badge badge-info">Go to the list</a>
    </div>
</div>